{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <p class="lead">
        <form method="post" action="{% url 'programs:browse' %}?=q=search">
            {% csrf_token %}
            {% if content_type == "movies" %}
                <input type="text" placeholder="Search Movie Titles" name="movies">
            {% endif %}
            {% if content_type == "shows" %}
                <input type="text" placeholder="Search Show Titles" name="shows">
            {% endif %}
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
        </p>
        <h4>-or-</h4>
        <h5>Browse:</h5>
        <p class="lead text-center"><a href="{% url 'programs:browse' %}?q=movies"
                                       class=" btn btn-primary button-width">Movies</a></p>
        <p class="lead text-center"><a href="{% url 'programs:browse' %}?q=shows" class=" btn btn-primary button-width">Shows</a>
        </p>
    </div>
    </div>
    {% for movie in movies %}
        <div class="card d-inline-block card-background" style="width: 18rem;">
            <a href="">{% if content_type == 'movies' %}
                <img src="{{ movie.poster_240x342 }}" class="card-img-top" alt="...">{% endif %}
                {% if content_type == "shows" %}
                    <img src="{{ movie.artwork_304x171 }}" class="card-img-top" alt="..."> {% endif %} </a>
            <div class="card-body">
                <h5 class="text-center card-title"><a href="/program/{{ movie.id }}">{{ movie.title }}</a></h5>
            </div>
            <div class="text-center">
                <button type="button" data-toggle="modal" data-target=".add-modal" class="text-center btn btn-primary">
                    Add Movie
                </button>
            </div>
        </div>

    {% endfor movies %}
    {#    Hopefully I'll get to the pagination part#}
    {#    <div class="pagination">#}
    {#        <span class="step-links">#}
    {#            {% if contacts.has_previous %}#}
    {#                <a href="?page=1">&laquo; first</a>#}
    {#                <a href="?page={{ contacts.previous_page_number }}">previous</a>#}
    {#            {% endif %}#}
    {##}
    {#            <span class="current">#}
    {#                Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.#}
    {#            </span>#}
    {##}
    {#            {% if contacts.has_next %}#}
    {#                <a href="?page={{ contacts.next_page_number }}">next</a>#}
    {#                <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>#}
    {#            {% endif %}#}
    {#        </span>#}
    {#    </div>#}

    <div class="modal add-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Your Folders</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="modal-body">
                        {% for folder in folders %}
                            <div>{{ folder.folder_title }}
                                <label class="checkbox">
                                    <input name="folder"
                                           value="{{ folder.pk }}"
                                           type="checkbox">
                                </label>
                            </div>
                        {% endfor folders %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}