.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  /*height: 40vmin;*/
  pointer-events: none;
}

.background-color {
  /*background-image: url("../../../../../staticfiles/media/plusback.png");*/
  background-size: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cover {
  width: 100%;
}

.card-text {
  font-size: small;
}

.forty-nine {
  width: 49%;
  display: inline-block;
}
