{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
    <div class="">
{#        <div class="col-md-6 col-md-offset-6">#}
        <h2>Sign Up!</h2>
        <div class="">
            <div class="">
        <form class="" method="post" action="{% url 'users:signup' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username</td>
                    <td><input name="username"/></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"></td>
                </tr>

                <tr>
                    <td>Password Again</td>
                    <td><input type="password" name="password2"></td>
                </tr>
                <tr>
                    <td>Services</td>
                    <td>
                        <select name="subscriptions" id="">
                            <option value="" disabled selected>Select Your Services</option>
                            <option value="netflix">Netflix</option>
                            <option value="hulu">Hulu</option>
                            <option value="both">Both</option>
                        </select>
                    </td>
                </tr>
            </table>

            <input type="submit" value="Signup">
        </form>
            </div>
        </div>


        <p><a href="{% url 'users:login' %}">Already Have an Account? Login.</a></p>
{#        </div>#}
    </div>
    </div>

{% endblock content %}